@font-face {
	font-family: ubuntu;
	src: url("./assets/Ubuntu-Regular.ttf") format("truetype");
}

body {
	margin: 0;
	font-family: Ubuntu;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #eef4ff;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	box-sizing: border-box;
}

.input {
	position: relative;
	max-width: 500px;
	width: 100%;
	padding: 20px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.02);
	background: white;
	border-radius: 5px;
	box-sizing: border-box;
}

.input input {
	width: 100%;
	font-size: 24px;
	z-index: 2;
	padding-inline: 15px;
	font-family: Ubuntu;
	box-sizing: border-box;
	border: 1px solid #d9e1ea;
	border-radius: 5px;
	transition: all 0.3s;
	height: 50px;
}

.input input:focus {
	border-color: #00bfcb;
	outline: none;
}

.input label {
	position: absolute;
	left: 36px;
	top: 21px;
	bottom: 21px;
	max-width: calc(100% - 72px);
	font-size: 24px;
	opacity: 0.3;
	z-index: 1;
	user-select: none;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

::selection {
	color: black;
	background: #00bfcb;
}
